.welcome-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 0 20px;  // Añade un padding lateral para que el contenido no toque los bordes en pantallas pequeñas
  box-sizing: border-box;  // Asegura que el padding se incluya en el tamaño total del contenedor
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #acc7a1;

  .login-link-container {
    margin-right: 20px;

    .login-link {
      color: #ffffff;
      font-size: 1.2rem;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #3498db;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

.carousel-wrapper {
  flex: 1;
  width: 100%;
  margin-bottom: 20px;  // Añade un margen inferior para separar el carrusel del contenido siguiente
}

.welcome-card {
  flex: 1;
  background-color: #f8f9fa;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  box-sizing: border-box;

  .content {
    max-width: 900px;
    width: 100%;  // Asegura que el contenido ocupe todo el ancho disponible en pantallas pequeñas
    text-align: left;

    h1 {
      font-size: 2.5rem;  // Reducción del tamaño de la fuente en pantallas pequeñas
      color: #2c3e50;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;  // Ajuste del tamaño de la fuente para mejorar la legibilidad en móviles
      color: #34495e;
      margin-bottom: 30px;
      line-height: 1.6;
    }

    .explore-button {
      font-size: 1.2rem;
      padding: 15px 30px;
      background-color: #3498db;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2980b9;
      }
    }

    .order-form {
      margin-top: 30px;
      width: 100%;

      mat-form-field {
        width: 100%;
        margin-bottom: 20px;
      }

      button {
        width: 100%;
        padding: 10px;
      }
    }
  }
}
.footer {
  background-color: #8beaaf;
  color: #ffffff;
  padding: 20px 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  .info-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  // Permite que las secciones se ajusten a múltiples filas si es necesario
    max-width: 1200px;  // Aumenta el ancho máximo para pantallas grandes
    margin: 0 auto;

    .info-section {
      width: 30%;  // Ajusta el ancho de cada columna para dividir en tres
      text-align: left;
      margin: 20px;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 8px;
      }

      p, ul {
        font-size: 0.9rem;
        line-height: 1.4;
        margin: 5px 0;
      }

      ul {
        padding-left: 15px;
      }
    }
  }
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
  .footer .info-sections {
    flex-direction: column;  // Cambia a una sola columna en pantallas pequeñas
    max-width: 100%;  // Asegura que ocupe todo el ancho disponible en pantallas pequeñas
  }

  .footer .info-section {
    width: 100%;  // Asegura que cada sección ocupe todo el ancho disponible
    margin-bottom: 15px;  // Espaciado menor entre las secciones del footer en pantallas pequeñas
  }

  .welcome-card {
    padding: 20px;  // Reduce el padding en pantallas más pequeñas para aprovechar mejor el espacio
  }

  .content h1 {
    font-size: 2rem;  // Reduce aún más el tamaño de la fuente en pantallas pequeñas
  }

  .content p {
    font-size: 1rem;  // Ajuste del tamaño de la fuente para mejorar la legibilidad en móviles
  }
}