.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
    position: absolute;
    width: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-slide.active {
    display: block;
    position: relative;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .carousel-indicators span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .carousel-indicators span.active {
    background-color: white;
  }
  .slide-image {
    height: 300px; /* Mantén la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  }
  
  .carousel-inner {
    max-width: 1000px; /* Aumenta el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel */
  }
  
  .carousel-caption h5 {
    font-size: 1.5rem; /* Ajusta el tamaño del título */
  }
  
  .carousel-caption p {
    font-size: 1rem; /* Ajusta el tamaño del texto de descripción */
  }
  