<button class="btn btn-success btn-sm" (click)="openCreateModal()">
    Registrar Sensor
  </button>
  
  <div
    *ngIf="showModal"
    class="modal fade show d-block"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createSensorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createSensorModalLabel">Registrar Nuevo Sensor</h5>
          <button
            type="button"
            class="close position-absolute top-0 end-0 m-2"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createForm" (ngSubmit)="createSensor()">
            <div class="form-group">
              <label for="type">Tipo</label>
              <input
                formControlName="type"
                id="type"
                class="form-control"
                [ngClass]="{
                  'is-invalid': createForm.get('type')?.invalid && createForm.get('type')?.touched
                }"
              />
              <div
                *ngIf="createForm.get('type')?.invalid && createForm.get('type')?.touched"
                class="invalid-feedback"
              >
                El tipo es requerido.
              </div>
            </div>
  
            <!-- Selector de invernaderos -->
            <div class="form-group">
              <label for="greenhouse_id">Seleccionar Invernadero</label>
              <select
                formControlName="greenhouse_id"
                id="greenhouse_id"
                class="form-control"
                [ngClass]="{
                  'is-invalid': createForm.get('greenhouse_id')?.invalid && createForm.get('greenhouse_id')?.touched
                }"
              >
                <option *ngFor="let greenhouse of greenhouses" [value]="greenhouse.id">
                  {{ greenhouse.name }}
                </option>
              </select>
              <div
                *ngIf="createForm.get('greenhouse_id')?.invalid && createForm.get('greenhouse_id')?.touched"
                class="invalid-feedback"
              >
                El invernadero es requerido.
              </div>
            </div>
  
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" [disabled]="createForm.invalid">
                Crear Sensor
              </button>
              <button type="button" class="btn btn-secondary" (click)="closeModal()">
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  